@using SportsShop.Models;
@model List<Supplement>

@{
    ViewData["Title"] = "Supplements";
}

<div class="container pt-4">
    <div class="row g-4">
        <div class="col-md-3 col-lg-2">
            <form asp-action="FilterSupplement" method="post">
                <h5><label class="fw-bold" for="flavor">Flavor</label></h5>
                <select class="form-select" id="flavor" name="flavor">
                    <option value="select">Select supplement</option>
                    <option value="Apple">Apple</option>
                    <option value="Unflavored">Unflavored</option>
                    <option value="Tropical">Tropical</option>
                </select>
                <h5 class="mt-2"><label class="fw-bold" for="supplements">Supplements:</label></h5>
                <select class="form-select" id="supplements" name="type">
                    <option value="select">Select type</option>
                    <option value="Creatine">Creatine</option>
                    <option value="Citrulline">Citrulline</option>
                    <option value="Caffeine">Caffeine</option>
                </select>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        <div class="col-12 col-md-9">
            <div class="row g-4">
                @foreach (Supplement item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card h-100">
                            <a style="text-decoration:none; display:block; color:black;" asp-controller="Supplements" asp-action="ShowSupplement" asp-route-id="@item.ProductId">
                            <img class="card-img-top" src="@(Url.Content(item.ImagePath))" alt="@item.Product.Name" />
                            <div class="card-body text-center">
                                <h5 class="card-title">@item.Product.Name - @item.Weight </h5>
                                <p class="card-text">@item.Product.Price </p>
                            </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>