@using SportsShop.ViewModels;
@model AccessoriesViewModel
@{
    ViewData["Title"] = "Accessories";
}
<div class="container pt-4 pb-4 vh-75">
    <div class="row g-4">
        <div class="col-md-3 col-lg-2">
            <form asp-action="FilterAccessory" method="post">
                <h5><label class="fw-bold" for="options">Type</label></h5>
                <select class="form-select" name="type">
                    <option value="select">Select type</option>
                    <option value="Weights">Weights</option>
                    <option value="RubberBand">Rubber Bands</option>
                    <option value="GymnasticRings">Gymnastic rings</option>
                </select>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="row g-4">
                @foreach (var accessory in Model.MixedAccessories)
                {
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card h-100">
                            <a style="text-decoration:none; display:block; color:black;" asp-controller="Accessories" asp-action="ShowAccessory" asp-route-id="@accessory.Data.ProductId" asp-route-type="@accessory.Data.GetType().Name">
                                <img class="card-img-top" src="@Url.Content(accessory.Data.ImagePath)" alt="@accessory.Data.Product.Name" />
                                <div class="card-body">
                                    <h5 class="card-title">@accessory.Data.Product.Name</h5>
                                    <p class="card-text">@accessory.Data.Product.Price PLN</p>
                                </div>
                            </a>
                        </div>
                    </div>

                }
                @if (Model.SpecificAccessories != null && Model.SpecificAccessories.Count > 0)
                {
                    @foreach(var accessory in Model.SpecificAccessories)
                    {
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="card h-100">
                                <a style="text-decoration:none; display:block; color:black;" asp-controller="Accessories" asp-action="ShowAccessory" asp-route-id="@accessory.ProductId" asp-route-type="@accessory.GetType().Name">
                                    <img class="card-img-top" src="@Url.Content(accessory.ImagePath)" alt="@accessory.Product.Name" />
                                    <div class="card-body">
                                        <h5 class="card-title">@accessory.Product.Name</h5>
                                        <p class="card-text">@accessory.Product.Price PLN</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
