@using SportsShop.Models
@model List<ClothResponse>

@{
    ViewData["Title"] = "Clothes";
}

<div class="container pt-4">
    <div class="row g-4">
        <div class="col-md-3 col-lg-2">
            <h5><label class="fw-bold" for="options">Clothes type</label></h5>
            <form asp-action="FilterCloth" method="post">
                <select class="form-select mb-3" name="type">
                    <option value="select">Select type</option>
                    <option value="Leggins">Leggins</option>
                    <option value="TankTop">Tank Top</option>
                    <option value="Tshirt">T-shirts</option>
                </select>

                <h5><label class="fw-bold">Sex</label></h5>
                <select class="form-select mb-3" name="gender">
                    <option value="select">Select gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

                <h5><label class="fw-bold">Size</label></h5>
                <select class="form-select mb-4" name="size">
                    <option value="select">Select size</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                </select>

                <button type="submit" class="btn btn-primary w-100">Filter</button>
            </form>
        </div>

        <div class="col-md-9 col-lg-10">
            <div class="row g-4 mb-3">
                @foreach (var cloth in Model)
                {
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card h-100">
                            <a class="text-decoration-none text-dark"
                               asp-controller="Clothes"
                               asp-action="ShowCloth"
                               asp-route-id="@cloth.Id">
                                <img class="card-img-top"
                                     src="@Url.Content(cloth.ImagePath)"
                                     alt="@cloth.Name" />
                                <div class="card-body text-center">
                                    <h5 class="card-title">
                                        @cloth.Producer – @cloth.Name
                                    </h5>
                                    <p class="card-text">
                                        @cloth.Price PLN
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
